@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600;700&display=swap');
body{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Josefin Sans';
    background-color: rgb(59, 15, 15);
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    background-color:rgba(200, 200, 200, 0.95);
    border-radius: 1em;
    padding-inline: 6em;
    padding-block: 2em;
    text-align: center;
}

.name{
    font-size: 40px;
    font-weight: 600;
}

.login{
    display: flex;
    flex-direction: column;
}

.barra{
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: 20px;
    border: 0;
}

.senha{
    position: relative;
    padding-right: 6%;
}

.show{
    color: grey;
    font-family: 'Josefin Sans';
    border: 0;
    background-color:rgba(0, 0, 0, 0);
    cursor: pointer;
    width: 8em;
    margin: 0 auto;
    display: block;
    font-size: 20px;
}

.botao{
    font-family: 'Josefin Sans';
    font-size: 20px;
    color: white;
    background-color: #9b1c1c;
    border: 0;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    cursor: pointer;
}

p{
    font-size: 20px;
}

.ancora{
    cursor: pointer;
    font-family: 'Josefin Sans';
    font-size: 20px;
    text-decoration: none;
    color: #9b1c1c;
    border: 0;
    background-color:rgba(0, 0, 0, 0);
}

.noMarg{
    margin-bottom: 0;
    color: grey;
}

.modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#9b1c1c;
    padding: 5px;
    border-radius: 10px;
    z-index: 1000;
    animation: modalOpen 0.3s ease-out forwards;
}

.modal-content{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.fechar{
    text-align: end;
}

.email{
    border: black 3px solid;
}

@keyframes modalOpen{
    from{
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.5);
    }
    to{
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}