.cardB{
    display: flex;
    flex-direction: column;
    padding: 3em 6em;
    text-align: center;
}

.card{
    font-size: 40px;
    padding: 0;
    margin: 0;
    color: #9b1c1c;
    font-weight: 600;
    text-align: center;
}

.space{
    margin-inline: 1em;
}

.container{
    text-align: center;
    margin: 0 5em 5em 5em;
    padding-inline: 5em;
    padding-block: 3em;
    font-size: 20px;
    color: white;
}

.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

h1{
    grid-column: span 4;
    color: #9b1c1c;
}

.burger{
    display: grid;
    grid-row: 100px 100px 100px 100px;
    margin: 0.5em;
    border: #742424 1px solid;
    padding: 1em;
    place-items: center;
}

.lanche{
    width: 150px;
}

.nome{
    font-size: 30px;
}

.descricao{
    font-size: 15px;
}

footer{
    position: sticky;
    top: 100%;
    display: flex;
    flex-direction: column;
    background-color: #9b1c1c;
    justify-content: center;
    text-align: center;
    padding: 2em;
}

.textoF{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: white;
}

.dev{
    padding: 1em;
}

.devs{
    display: flex;
    margin-inline: 1em;
    justify-content: center;
    text-align: center;
}

