
.fotoB{
    width: 100%;
}

.frase{
    display: flex;
    flex-direction: column;
    padding: 3em 6em;
    text-align: center;
}

.fraseB{
    font-size: 40px;
    padding: 0;
    margin: 0;
    color: #9b1c1c;
    font-weight: 600;
}

.sobre{
    background-color: #9b1c1c;
    display: flex;
    flex-direction: column;
    margin: 0 5em 5em 5em;
    padding-inline: 5em;
    padding-bottom: 3em;
    text-align: center;
}

.texto{
    font-size: 35px;
    color: white;
}

.mostruario{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.foto{
    width: 100%;
    object-fit: cover;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.order{
    text-decoration: none;
    background-color: #742424;
    padding: 0.8em;
    border-radius: 10px;
}

.order:hover{
    background-color:red;
}

.order:active{
    background-color: #9b1c1c;
}

footer{
    position: sticky;
    top: 100%;
    display: flex;
    flex-direction: column;
    background-color: #9b1c1c;
    justify-content: center;
    text-align: center;
    padding: 2em;
}

.textoF{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: white;
}

.dev{
    padding: 1em;
}

.devs{
    display: flex;
    margin-inline: 1em;
    justify-content: center;
    text-align: center;
}